$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #4b9cf6,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  bgColor:    #f0f0f0
);

//修改默认sass变量写在这
$toolbar-ios-button-color: color($colors,dark);


@import "ionic.theme.default";
@import "ionic.ionicons";

// Fonts
@import "roboto";
@import "noto-sans";
@import '../assets/fonts/iconfont';